@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@600&family=Belanosima&family=Caveat:wght@700&family=Dosis:wght@600&family=Handjet:wght@300;400;500&family=Kalam:wght@700&family=Lilita+One&display=swap');

header {
  position: relative;
  z-index: 1000;
}
#loader { /* loader stuff */
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #f0f0f0;
  opacity: 1;
  transition: opacity .5s ease;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e
  }

body { /*page things */
  opacity: 1;
  transition: opacity .5s ease;
  overflow: hidden;

}

body.fade-out {
  opacity: 0;
}


@keyframes fadeIn { /* fade in animation for the container */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.direct-contact-container { /*contact box*/
  position: fixed; 
  right: 80px;
  top: 200px;
  width: 500px; 
  height: 500px; 
  padding: 40px; 
  background-color: #f9f9f9;
  border-radius: 50%; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  opacity: 1;
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center; 
  animation: fadeIn 4s forwards, colorChange 5s ease infinite 2s alternate;
}



.direct-contact-container:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-item { /* spacing for contact */
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.contact-text { /* text for the contact stuff in the container */
  color: #555;
  font-family: 'Gamja Flower', sans-serif;
  
}
.contact-text a { /*color fixing the links in the container */
  color: #555;
  text-decoration: none;
}

.contact-icon {
  font-size: 20px;
  color: #555;
  transition: color 0.3s;
}


.social-media-icons { /*spacing for icons*/
  display: flex;
  justify-content: center;
  gap: 20px;  
}

.social-media-icons svg { /* dimensions for the icons */
  width: 40px;
  height: 50px;
  transition: transform 0.3s; 
}
.social-media-icons svg:hover { /* effect that enlarges the icons when hovered over them */
  transform: scale(1.5); 
}

.instagram-icon path { /* base color for icons */
  fill: #000000; 
}
.instagram-icon:hover path {
  fill: url(#instagramGradient); /* changes instgram color to instagram gradient when hovered */
}

.github-icon:hover path {/* changes github color to greyish when hovered */
  fill: #5c5c5c; 
}
.linkedin-icon:hover path { /* changes linkedin color to blue when hovered */
  fill: #0077B5; 
}



.flex-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
  padding: 20px; 
}

.services-container {
  position: absolute; 
  left: 80px; 
  top: 200px;
  width: 500px; 
  height: 500px; 
  padding: 40px; 
  background-color: #f9f9f9;
  border-radius: 50%; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  opacity: 1;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  animation: fadeIn 4s forwards, colorChange 5s ease infinite 2s alternate;

}



.services-container:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.services-list {
  list-style-type: none;
  padding: 0;
}

.services-list li {
  padding: 10px 0;
  font-family: 'Gamja Flower', sans-serif;
  color: #555;
}

h2 {
  position: absolute;
  font-family: 'Gamja Flower', sans-serif;
  right: 250px; 
  top: 150px; 
  cursor: default;
  margin-left: 100px; 
  color: white;
  font-size: 36px;

}

h3 {
  position: absolute;
  font-family: 'Gamja Flower', sans-serif;
  left: 180px; 
  top: 150px; 
  cursor: default;
  margin-left: 100px; 
  color: white;
  font-size: 36px;
  
}

@media (max-width: 768px) { 
  .direct-contact-container, .services-container {
    position: static; 
    margin: 20px auto; 
    max-width: 90%; 
    padding: 40px; 
  }

  h2, h3 {
    position: static; 
    margin: 20px auto; 
    text-align: center; 
  }

  .social-media-icons svg {
    width: 30px; 
    height: 30px;
  }
}

.container img {
    width: 100px; 
    height: auto; 
    display: block; 
    transition: transform 0.2s ease;
}
.container img:hover {
    animation: shake 0.5s ease infinite; 
}


  @keyframes shake {
    0%, 100% {
      transform: scale(1.2) rotate(0);
    }
    25% {
      transform: scale(1.2) rotate(-5deg);
    }
    75% {
      transform: scale(1.2) rotate(5deg);
    }
  }
  
/* Header stuff */
header {
    font-family: 'Belanosima', sans-serif;
    font-size: 10px; 
    color: white;
    position: relative;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, #333, #1e1e1e);
    transition: transform 0.3s ease;
    transform-origin: top center;
    padding: 20px 150px 20px 20px;  
    margin-top: 0;
}

header:hover {
    transform: scale(1.10);
    padding: 20px 150px 20px 20px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin: 0;
}

nav ul li a, nav ul li a .icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 18px; 
    display: inline-block;
    transition: all 0.3s ease; 
}

nav ul li a:hover, nav ul li a:hover .icon {
    animation: bounce 0.5s infinite;
    color: #9c9fa1; 
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

/* Footer stuff */
footer {
    font-family: 'Belanosima', sans-serif;
    font-size: 10px; 
    color: #f0f0f0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, #333, #1e1e1e);
    transition: transform 0.3s ease;
    transform-origin: bottom center;
    padding: 20px 150px 20px 20px;  
}

footer:hover {
    transform: scale(1.10); 
    padding: 20px 150px 20px 20px;  
}

footer p {
    margin-left: 50px; 
}
/*animation for color wheel look for squares*/
@keyframes colorChange {
  0% {
    background-color: transparent;
  }
  10% {
    background-color: #f0e4e4;
  }
  25% {
    background-color: #f0e0e0;
  }
  35% {
    background-color: #e4f0e4;
  }
  50% {
    background-color: #e0f0e0;
  }
  65% {
    background-color: #e0e4f0;
  }
  75% {
    background-color: #e0e0f0;
  }
  85% {
    background-color: #e4e4f0;
  }
  100% {
    background-color: #f0f0f0;
  }
}