@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@600&family=Belanosima&family=Caveat:wght@500;700&family=Dosis:wght@600&family=Gaegu&family=Gloria+Hallelujah&family=Handjet:wght@300;400;500&family=Kalam:wght@700&family=Lexend&family=Lilita+One&family=Mooli&family=Signika+Negative:wght@500&display=swap'); /*Gaegu for "Mohammad Shohaib" */
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caveat:wght@700&display=swap'); /*Belanosima for header icons*/
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@600&family=Belanosima&family=Caveat:wght@500;700&family=Dosis:wght@600&family=Gaegu&family=Gloria+Hallelujah&family=Handjet:wght@300;400;500&family=Kalam:wght@700&family=Lexend&family=Lilita+One&family=Mooli&family=Signika+Negative:wght@500&display=swap'); /*Roboto for the info thing*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}


body, main {
    background-color: #1e1e1e;
    color: #f0f0f0;
}
html, body {
    overflow: hidden; /* This will remove the vertical scroll bar; use with caution */
}

body h1 {
    font-family: 'Gaegu', cursive;
    font-size: 96px; 
    color: #f0f0f0;

    /*used to make underline effect */
    position: relative; 
    display: inline-block;
    
    /*space between h1 and header and bio */
    margin-top: 20px; 
    margin-bottom: 50px; 

    cursor: default;

    transition: color 1.4s ease;
}
body h1::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 4px;
    background-color: #f0f0f0;
    left: 50%;
    bottom: -10px;
    transition: all 0.4s ease-in-out;
}

body h1:hover::after {
    width: 100%;
    left: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

body {
    opacity: 1;
    transition: opacity .5s ease;
}

body.fade-out {
    opacity: 0;
}

header {
    font-family: 'Belanosima', sans-serif;
    font-size: 10px; 
    color: white;
    position: relative;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, #333, #1e1e1e);
    transition: transform 0.3s ease;
    transform-origin: top center;
    padding: 20px 150px 20px 20px;  
    margin-top: 0;
}

header:hover {
    transform: scale(1.10);
    padding: 20px 150px 20px 20px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin: 0;
}

nav ul li a, nav ul li a .icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 18px; 
    display: inline-block;
    transition: all 0.3s ease; 
}

nav ul li a:hover, nav ul li a:hover .icon {
    animation: bounce 0.5s infinite;
    color: #9c9fa1; 
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

footer {
    font-family: 'Belanosima', sans-serif;
    font-size: 10px; 
    color: #f0f0f0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, #333, #1e1e1e);
    transition: transform 0.3s ease;
    transform-origin: bottom center;
    padding: 20px 150px 20px 20px;  
}

footer:hover {
    transform: scale(1.10); 
    padding: 20px 150px 20px 20px;  
}

footer p {
    margin-left: 50px; 
}

.hover-box {
    position: relative;
    width: 100px; 
    height: 100px;
    margin: 0 auto;
    perspective: 1000px;
}

.icon-box {
    width: 300px; 
    height: 100%; 
    margin: 0 auto; 
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: translateX(-120px); 
}

.icon-box:hover {
    transform: translateX(-120px) rotateX(-180deg); 
}

.icon-box .front,
.icon-box .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    line-height: 100px;
    color: white;
    text-align: center;
    font-size: 50px;
    border-radius: 100%;
    background-color: #1e1e1e;
}

.back {
    transform: rotateY(180deg) rotate(180deg); 
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
     
}
/*toggle button stuff*/
.container {
    position: absolute;
    top: 100px; 
    right: 60px; 
    width: 50px;
    height: auto;
    z-index: 1000; 
}

.container img {
    width: 100px; 
    height: auto; 
    display: block; 
    transition: transform 0.2s ease;
}
.container img:hover {
    animation: shake 0.5s ease infinite; 
}


  @keyframes shake {
    0%, 100% {
      transform: scale(1.2) rotate(0);
    }
    25% {
      transform: scale(1.2) rotate(-5deg);
    }
    75% {
      transform: scale(1.2) rotate(5deg);
    }
  }
  
/*the loader for the page*/
#loader { 
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #f0f0f0;
    opacity: 1;
    transition: opacity .5s ease; 
  }