@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caveat:wght@700&family=Handjet:wght@500&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@600&family=Belanosima&family=Caveat:wght@500;700&family=Dosis:wght@600&family=Gaegu&family=Gloria+Hallelujah&family=Handjet:wght@300;400;500&family=Kalam:wght@700&family=Lexend&family=Lilita+One&family=Mooli&family=Signika+Negative:wght@500&family=Single+Day&display=swap');
header {
  position: relative;
  z-index: 1000;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1e1e1e
}

body { /* styling for the overall page and the font used for it */
  text-align: center;
  color: white;
  font-family: 'Single Day', sans-serif;
  opacity: 0;
  transition: opacity .5s ease; 
  width: 100%;
  height: 100%;
  overflow: hidden;

}
body.fade-in {
  opacity: 1;
}

.background-text { /* For the main page text */
  display: inline-block;
  font-family: 'Single Day', sans-serif;
  color: white;
  font-size: 45px;
  margin-bottom: 450px;
  line-height: 1;
  padding: 0; 
  cursor: pointer;
  transition: font-size 0.3s ease, text-shadow 0.3s ease;
}

.background-text:hover { /* little effect when hover over the click me*/
  font-size: 50px;
  text-shadow: 4px 4px 5px #b1b0b0;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.background-text-fade-in, .about-text-fade-in {
  animation: fadeIn 1s forwards;
}

.background-text-fade-out, .about-text-fade-out {
  animation: fadeOut 1s forwards;
}

.about-text { /* The text that is shown once the click me is clicked*/
  display: none;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  color: white;
  margin-bottom: 350px;
  cursor: pointer;
  transition: font-size 0.3s ease, text-shadow 0.3s ease;
  white-space: pre-wrap;
  width: 40%;
  margin-left: 0;
  margin-right: auto;
  overflow: auto;
  position: absolute;
  left: 120px;
  top: 50%; 
  transform: translateY(-50%);
}

.about-text-typing { /* made a cool effect that types out the message instead of just showing it */
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: blink 0.75s step-end infinite;
  width: 100%;
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #fff; }
}

.about-text:hover { /* little effect when hovered over the text */
  text-shadow: 4px 4px 5px #b1b0b0;
}

.about-text-content {
  display: inline-block;
  white-space: pre-wrap;
}

.about-image { 
  display: none;
  position: absolute;
  top: 50%; 
  right: 150px; 
  transform: translateY(-50%);
  width: auto;
  height: 40%; 
  max-width: 90%;
  z-index: 5; 
  transition: all 0.5s ease; 

}

.about-image-fade-in {
  animation: fadeIn 2s forwards;
  display: block;
}

.about-image-fade-out {
  animation: fadeOut 1s forwards;
  display: block;
}

.resume-link { /* small link in bottom right of my resume */
  position: fixed;
  left: 20px;
  bottom: 90px;
  z-index: 1000;
  font-size: 16px;
}

.resume-link a {
  color: white;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.resume-link a:hover { /* hover effect for the resume */
  background-color: #5e5e5e;
  color: rgb(99, 140, 220);
}

.container {
  position: absolute;
  top: 100px; 
  right: 60px; 
  width: 50px;
  height: auto;
  z-index: 1000; 
}


.container img {
  width: 100px; 
  height: auto; 
  display: block; 
  transition: transform 0.2s ease;
}
.container img:hover {
  animation: shake 0.5s ease infinite; 
}


@keyframes shake {
  0%, 100% {
    transform: scale(1.2) rotate(0);
  }
  25% {
    transform: scale(1.2) rotate(-5deg);
  }
  75% {
    transform: scale(1.2) rotate(5deg);
  }
}

/* Header stuff */
header {
    font-family: 'Belanosima', sans-serif;
    font-size: 10px; 
    color: white;
    position: relative;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, #333, #1e1e1e);
    transition: transform 0.3s ease;
    transform-origin: top center;
    padding: 20px 150px 20px 20px;  
    margin-top: 0;
}

header:hover {
    transform: scale(1.10);
    padding: 20px 150px 20px 20px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin: 0;
}

nav ul li a, nav ul li a .icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 18px; 
    display: inline-block;
    transition: all 0.3s ease; 
}

nav ul li a:hover, nav ul li a:hover .icon {
    animation: bounce 0.5s infinite;
    color: #9c9fa1; 
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

/* Footer stuff */
footer {
    font-family: 'Belanosima', sans-serif;
    font-size: 10px; 
    color: #f0f0f0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, #333, #1e1e1e);
    transition: transform 0.3s ease;
    transform-origin: bottom center;
    padding: 20px 150px 20px 20px;  
}

footer:hover {
    transform: scale(1.10); 
    padding: 20px 150px 20px 20px;  
}

footer p {
    margin-left: 50px; 
}

